body{
    background: url(backgound1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0%;
    padding:0%;

}
header{
    background-color:rgba(221, 225, 225, 0.726);
    padding: 10px;
    margin: 0px;
    display:flex;
    justify-content: center;
    justify-content: space-evenly;

}
section{
    padding: 30%;
}
footer{
    background-color: rgba(12, 13, 13, 0.566);
    color:white;
    margin: 0px;
    padding:100px
}

